<header id="content-header">
	<h1> Reviews for <%= link_to @movie.title, @movie %></h1>
</header>
<ol id="reviews">
<% @reviews.each do |review| %>
	<li> <%= pluralize(review.stars,'star') %> by
	<%= review.name %> :
	"<%= review.comment %>", 
	<%= time_ago_in_words(review.created_at)%> ago
	</li>
	<%end%>
</ol>