<header id="content-header">
  <h1>New Review for <%= link_to(@movie.title, @movie) %></h1>


</header>

<%= form_for([@movie, @review]) do |f| %>
<%= render "shared/errors", object: @review %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :name %>         
        <%= f.text_field :name, size: 40, autofocus: true %>
      </li>
      
      <li class="required stars">
  		<%= f.label :stars %>         
  			<% Review::STARS.each do |star| %>
   			 <span class="star">
      			<%= f.radio_button :stars, star %> <%= star %>
    		</span>
  		<% end %>
	  </li>
      
      <li class="required">
        <%= f.label :comment %>
        <%= f.text_area :comment, cols: 80, placeholder: "What did you think?" %>
      </li>
    </ol>
    <p>
      <%= f.submit 'Post Review' %> 
      <%= link_to "Cancel", @movie, class: 'button' %>
    </p>
  </fieldset>
<% end %>


